@import url("../webfonts/Roboto_Regular/stylesheet.css");

/* Main CSS Styles */ 


h1 {
		font-family: "Montserrat";
	}

p {
		font-family: 'Muli', sans-serif;
	}

.main {
}
.section {

}

/* Main Wrapper */ 
.container-fluid.main {
	background-color: #000000;
	padding-top: 10%;
}
.img-responsive.logo {
	position: relative;
	margin: 0 auto;
}


body {
	
	
}

/* Navigation */ 

.navbar-toggle 
{
color: white;
}

.navbar-custom {
	margin-bottom: 0;
	border-bottom: 0px;
	background-color: #000;
	font-size: 1.3em;
	font-family: "Montserrat";
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.nav > li > a {
	line-height:25px;
	text-align:  right;
	}

.navbar-custom a {
    color: #fff;
	
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}
}

    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
	

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 0px;
        background: #000;
    }
	
	
	
	/* Hero Section */

.mainrow {
	padding-bottom: 30px;
}
	
.section p {
	color: #FFFFFF;
	text-align: center;
	font-size: 2em;
}
.btn.btn-lg.btn-default.center-block {
	background-color: #000000;
	color: #FFFFFF;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.social.icons {
	display: block;
	text-align: center;
	line-height: 24px;
	font-size: 24px;
	padding-top: 4%;
}


.soc {
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	color: #DDDDDD;
	padding-top: 20px;
}
.soc:hover {
  color: #FFFFFF;
}

/* Works Section */

.row.worksmain .col-md-12 h1 {
	color: #FFFFFF;
	text-align: center;
	font-size: 5em;
}


.col-sm-4 {
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.col-sm-4 .img-responsive {
	width: 100%;
}

#home .row.works {
	background-color: rgba(255,255,255,1.00);
}
.row.works .col-md-12 h1 {
	text-align: center;
	font-size: 5em;
}


.works {
	padding-top: 5%;
}
.worksmain {
	padding-top: 10px;
}


/* Footer Section */

.footer {
	color: rgba(220,220,220,1.00);
	text-align: center;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	font-size: 1em;
}
.container-fluid.footer {
	background-color: #141c1f;

}

.footer p {
	color: rgba(255,255,255,1.00);
	font-size: 1.2em;
}

.godown .fa.fa-angle-down {
	text-align: center;
}
.godown p {
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-size: 2em;
}
/* About Section */

.approach h1 {
	color: rgba(255,255,255,1.00);
	font-size: 5em;
}
.approach .col-md-12 p {
	color: rgba(255,255,255,1.00);
	font-size: 2em;
}


.approach {
	
    margin-left: 0px;
    margin-right: 0px;

}

.container-fluid.approach .row {
	text-align: center;
	padding-top: 75px;
	padding-bottom: 75px;
	
}
.container-fluid.approach {
	background-color: rgba(0,0,0,1.00);
}

.img-center {margin:0 auto;}

.img-responsive.workport {
	position: relative;
	margin: 0 auto;
}


/* Contact Section */

.container-fluid.contact {
	background-color: #FFFFFF;
}

.contact .col-md-12 h1 {
	color: rgba(0,0,0,1.00);
	font-size: 5em;
}
.contact .col-md-12 p {
	color: rgba(0,0,0,1.00));
	font-size: 1.2em;
}
.container-fluid.contact .row {
	text-align: center;
	padding-top: 75px;
	padding-bottom: 75px;
	
}
.contact {
	
    margin-left: 0px;
    margin-right: 0px;

}

 


/* Mobile */

@media (max-width:649px){
	
.mobile-hide {
	visibility: none;
}

.col-md-12.mobilepad {
	padding-left: 5px;
	padding-right: 5px;
}
.btn.btn-lg.btn-default.but.butmiddle {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
	margin-right: 20px;
}
#home .buttonpad {
	margin-right: 0px;
	margin-left: 0px;
}
.row.works .col-md-12 h1 { 
    margin-top: 50px;

}

}


/* Retina Displays */

@media (min-width:1400px){
.img-responsive.logo {
	width: 300px;
	height: 300px;
}
.col-md-12.section p {
	font-size: 2em;
}
.container-fluid.main {
}
.btn.btn-lg.btn-default.center-block {
	font-size: 2em;
}


}
